.vs/
.vscode/
.cache/
__pycache__/

Build/
Install/
Doxygen/
Dist/
Temp/
out/

CMakeSettings.json

.clangd

Help.md


PythonAPI/examples/cache/
carla_data_collection/dataset_output/
dataset_output/
dataset_10k/
dataset_10k_bak/
outputs/
inference_results/
.log
.pth
server/
nul
occ_network/checkpoints/
occ_network_lite/checkpoints_lite/
code_summary_for_ai.txt
